VITE_CATALOG_API=https://launchpad-media.jerryquinet.workers.dev
VITE_SONICTRACE_API=http://127.0.0.1:8000
VITE_TRACK_MANAGER_URL=https://launchpad-r2-api.jerryquinet.workers.dev/
VITE_LRC_MAKER_URL=https://shinobione.github.io/lrc-maker/
VITE_SONICTRACE_URL=https://shinobione.github.io/LM-IA-Analayse/
